.skill-view {
  max-width: 800px;
  margin: 0 auto;
}

.skill-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  $size: 7rem;
  width: $size;
  height: $size;
  font-size: 2em;
  margin: 1rem 0 0.5rem 0;
  line-height: $size;
  border-radius: 50%;
  border: 7px solid $gray-300;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;

  .skill-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--colour);
    border-radius: 50%;
    margin-top: 0.5rem;
    width: 5rem;
    height: 5rem;
  }

  &:hover {
    border-color: var(--colour);
  }
}

.skill-wrapper {
  --colour: #{$warning};
  position: relative;
  display: table;

  .popover {
    background-color: var(--colour);
  }

  .level-container {
    width: 2rem;
    height: 2rem;
    position: absolute;
    padding: 0.5rem;
    bottom: 0rem;
    right: 0rem;
    line-height: 1em;
    background-color: $info;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  }
}
