code {
  color: inherit;
}

.button {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-width: 0 0 4px;
  padding: 13px 16px;
  color: #fff;
  font-weight: bold;
  min-width: 150px;
  width: 100%;
  border-radius: 12px;
  bottom: 10px;

  &.button-info {
    background-color: $info;
    border-color: darken($color: $info, $amount: 15);

    &:hover {
      background-color: lighten($color: $info, $amount: 7);
      border-color: darken($color: $info, $amount: 10);
    }
  }

  &.button-success {
    background-color: $success;
    border-color: darken($color: $success, $amount: 15);

    &:hover {
      background-color: lighten($color: $success, $amount: 7);
      border-color: darken($color: $success, $amount: 10);
    }
  }

  &.button-error {
    background-color: $danger;
    border-color: darken($color: $danger, $amount: 15);

    &:hover {
      background-color: lighten($color: $danger, $amount: 7);
      border-color: darken($color: $danger, $amount: 10);
    }
  }
}

.toast-error {
  background-color: $danger;
}

.toast-success {
  background-color: $success;
}
