code {
  color: inherit;
}

.button {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-width: 0 0 4px;
  padding: 13px 16px;
  color: #fff;
  font-weight: bold;
  min-width: 150px;
  width: 100%;
  border-radius: 12px;
  bottom: 10px;

  &.button-info {
    background-color: $info;
    border-color: darken($color: $info, $amount: 15);

    &:hover {
      background-color: lighten($color: $info, $amount: 7);
      border-color: darken($color: $info, $amount: 10);
    }
  }

  &.button-success {
    background-color: $success;
    border-color: darken($color: $success, $amount: 15);

    &:hover {
      background-color: lighten($color: $success, $amount: 7);
      border-color: darken($color: $success, $amount: 10);
    }
  }

  &.button-error {
    background-color: $danger;
    border-color: darken($color: $danger, $amount: 15);

    &:hover {
      background-color: lighten($color: $danger, $amount: 7);
      border-color: darken($color: $danger, $amount: 10);
    }
  }
}

@media only screen and (max-width: 600px) {
  .continue-button {
    position: fixed;
    bottom: 20px;
    padding: 10px;
    width: calc(100% - 20px);
  }
}

.toast-error {
  background-color: $danger;
}

.toast-success {
  background-color: $success;
}

.popover {
  background-color: $warning;
  border-color: transparent;
  border-radius: 10px;
  padding: 1rem;
  color: white;
  border-width: 0 0 4px;
  border-color: darken($color: $warning, $amount: 15);

  .arrow::after {
    border-bottom-color: $warning !important;
  }

  .arrow::before {
    border-bottom-color: transparent !important;
  }
}

hr {
  height: 1px;
  width: 100%;
  border-top: 1px solid $gray-300;
}

.logo {
  color: #24b1c7;
}
