<!doctype html>
<html>
<head>
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Codelingo</title>
{% endblock %}
</head>
<body>
<div id="header">
	<h1><a href="{{ url_for('index') }}">Codelingo</a>
	{% if current_user.is_authenticated -%} &mdash; Codelingo {%- endif %}</h1>
{% if not current_user.is_authenticated %}
<form action="{{ url_for('login') }}" method="post">
	<label for="username">Username:</label> <input name="username">
	<label for="password">Password:</label> <input name="password" type="password">
	<input type="submit" name="action" value="log in">
	<input type="submit" name="action" value="reset password">
</form>
{% else %}
	Welcome, {{ current_user.username }}.
<form action="{{ url_for('change_password') }}" method="get">
	<input type="submit" value="change password">
</form>
<form action="{{ url_for('logout') }}" method="post">
	<input type="submit" name="action" value="log out">
</form>
{% endif %}
</div>

<div id="content">
{% with messages = get_flashed_messages(with_categories=True) %}{% if messages %}
<div id="flashes">
	{% for category, message in messages %}
		<div class="flash_{{ category }}">{{ message|safe }}</div>
	{% endfor %}
</div>
{% endif %}{% endwith %}

{% block content %}{% endblock %}
</div>


</body>
</html>
