{% extends "base.html" %}
{% block content %}

{% if current_user.require_change_passworrd %}
You must choose a new password.
{% endif %}

<div id="reset_password_form">
<form method="post" action="{{ url_for('change_password') }}">
<div><label for="old_password">Current password:</label> <input name="old_password" type="password" autofocus></div>
<div><label for="new_password1">New password:</label> <input name="new_password1" type="password"></div>
<div><label for="new_password2">Repeat new password:</label> <input name="new_password2" type="password"></div>
<div><input type="submit" value="change password"></div>
</form>
</div>

{% endblock %}
